@use "../../styles/variables" as *;

.inspiration {
    padding: 1rem;
    font-style: italic;

    &__content {
        line-height: 1.5;
        font-size: 1.1rem;
        font-family: $font-secondary;
        margin: 1.3rem auto 1.5rem;

        .inspiration__person {
            font-weight: bold;
            font-family: $font-secondary;
        }
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .inspiration {
        padding: 1.6rem;
    
        &__content {
            font-size: 1.3rem;
            margin: 1.5rem auto 2rem;
        }
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .inspiration {
        padding: 3.5rem;
    
        &__content {
            font-size: 1.5rem;
            margin: 1rem auto 2.8rem;
        }
    }
}

