@use "../../styles/variables" as *;

.inspiration {
    padding: 1rem;
    font-style: italic;

    &__content {
        line-height: 1.5;
        font-size: 1.1rem;
        font-family: $font-secondary;
        margin: 1.3rem auto 1.5rem;

        .inspiration__person {
            font-weight: bold;
            font-family: $font-secondary;
        }
    }
}