@use "../../styles/variables" as *;

.button {
    border: none;
    border-radius: 0.5rem;
    background-color: $color-button;
    color: $color-secondary;
    padding: 0.4rem 0.8rem;
    font-size: 1.1rem;
    font-weight: bold;
}