@use "../../styles/variables" as *;

.form {
    padding: 1rem;

    &__heading {
        font-family: $font-secondary;
        font-size: 1.2rem;
        font-weight: bold;
        display: block;
    }

    &__textarea {
        border: 2px solid $color-border;
        border-radius: 0.3rem;
        margin-top: 0.5rem;
        padding: 0.5rem 1.1rem;
        background-color: $color-secondary;

        &::placeholder {
            font-size: 1rem;
            opacity: 0.7;
        }
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .form {
        padding: 2.3rem;
    
        &__heading {
            font-size: 1.3rem;
        }
    
        &__textarea {
            margin-top: 1rem;
            padding: 0.8rem 1.1rem;
    
            &::placeholder {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .form {
        padding: 2.3rem;
    
        &__heading {
            font-size: 1.5rem;
        }
    
        &__textarea {
            margin-top: 2rem;
            padding: 1.2rem 1.5rem;
            width: 43%;
            height: 15rem;
    
            &::placeholder {
                font-size: 1.4rem;
            }
        }
    }
}