@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

// colors
$color-primary: #A5F1E9;
$color-secondary: #EFEFEF;
$color-border: #0F3460;
$color-button: #1F4690;
$color-hover: #5800FF;
$color-text: #004A7C;
$color-select: #748DA6;
$color-modal: #BFACE0;

// text
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Merriweather', serif;