@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

// colors
$color-primary: #A5F1E9;
$color-secondary: #EFEFEF;
$color-border: #0F3460;
$color-button: #005691;
$color-text: #004A7C;

// text
$font-primary: 'Lato', sans-serif;