
.home {
    text-align: center;

    .home__title {
        margin: 2.5rem auto 4rem;
    }

    .home__main {
        
        .home__link {
            text-decoration: none;
            font-size: 1.8rem;
            margin: 1rem;
            display: block;
        }

    }

}