@use "../../styles/variables" as *;

.home {
    text-align: center;

    &__title {
        font-family: $font-secondary;
        margin: 2.5rem auto 4rem;
    }

    &__main {
        padding: 1.3rem;
    }

}