@use "../../styles/variables" as *;

.card {
    margin: 1rem auto 2rem;
    width: 75%;
    
    &__item {
        font-weight: bold;
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .card {
        margin: 1.2rem auto 2.2rem;
        
        &__item {
            font-size: 1.4rem;
        }
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .card {
        margin: 1rem auto 2.5rem;
        
        &__item {
            font-size: 1.8rem;
        }
    }
}