@use "../../styles/variables" as *;

.modal {
    background-color: $color-modal;
    border-radius: 0.3rem;
    opacity: 0.9;
    position: absolute;
    width: 95%;
    z-index: 1;
    text-align: center;
    padding: 1.2rem 1.2rem;
    margin: 0.5rem 0.3rem;
}