@use "../../styles/variables" as *;

.modal {
    background-color: $color-modal;
    border-radius: 0.3rem;
    opacity: 0.9;
    position: absolute;
    width: 95%;
    z-index: 1;
    text-align: center;
    padding: 1.2rem 1.2rem;
    margin: 0.5rem 0.3rem;
}

@media screen and (min-width: $tablet-breakpoint) {
    .modal {
        position: absolute;
        padding: 1.4rem 1.2rem;
        margin: 0.5rem 1rem;
        font-size: 1.8rem;
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .modal {
        position: absolute;
        padding: 1.6rem 1.4rem;
        margin: 0.5rem 2rem;
        font-size: 2rem;
    }
}