@use "../../styles/variables" as *;

.addDecision {

    &__black-cross {
        position: relative;
        left: 0.5rem;
        top: 0.8rem;
        opacity: 0.8;
    }
    
    &__heading {
        text-align: center;
        font-size: 1.5rem;
        margin: 2.5rem auto 1.8rem;
    }
}
