@use "../../styles/variables" as *;

.section {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .section__heading {
            font-size: 1.6rem;
            font-family: $font-secondary;
            margin: 1rem 0;
        }
    
        .section__link {
            text-decoration: none;
            font-size: 1.4rem;
        }
    }

    &__description {
        text-align: left;
        font-size: 1.1rem;
        margin: 0.3rem auto 1rem;
        line-height: 1.5;
    }

    &__hr {
        border: dotted $color-border 0.4rem;
        border-bottom: none;
        width: 3rem;
        margin: 1.5rem auto 0;
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .section {
        &__container {
            .section__heading {
                font-size: 2rem;
                margin: 2rem 0;
            }
        
            .section__link {
                font-size: 1.8rem;
            }
        }
    
        &__description {
            font-size: 1.3rem;
            margin: 0.5rem auto;
        }
    
        &__hr {
            width: 5rem;
            margin: 2.5rem auto 0;
        }
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .section {
        &__container {
            .section__heading {
                font-size: 2.2rem;
                margin: 2rem 0;
            }
        
            .section__link {
                font-size: 2rem;
            }
        }
    
        &__description {
            font-size: 1.5rem;
            margin: 0.5rem auto;
        }
    
        &__hr {
            width: 5rem;
            margin: 4rem auto 0;
        }
    }
}

